Node-red
[{"id":"ffceb231.4a0718","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"c8101442.9b9798","type":"tcp in","z":"ffceb231.4a0718","name":"Mote 1","server":"client","host":"","port":"60001","datamode":"stream","datatype":"utf8","newline":" \\n","topic":"Mote 1","base64":false,"x":150,"y":200,"wires":[["3d0fd818.4cd6c"]]},{"id":"bbe7485c.643338","type":"tcp in","z":"ffceb231.4a0718","name":"Mote 2","server":"client","host":"","port":"60002","datamode":"stream","datatype":"utf8","newline":"\\n","topic":"Mote 2","base64":false,"x":150,"y":240,"wires":[["3d0fd818.4cd6c"]]},{"id":"60e63cdc.1d1b1c","type":"tcp in","z":"ffceb231.4a0718","name":"Mote 3","server":"client","host":"","port":"60003","datamode":"stream","datatype":"utf8","newline":"\\n","topic":"Mote 3","base64":false,"x":150,"y":280,"wires":[["3d0fd818.4cd6c"]]},{"id":"8571100b.a3546","type":"tcp in","z":"ffceb231.4a0718","name":"Mote 4","server":"client","host":"","port":"60004","datamode":"stream","datatype":"utf8","newline":"\\n","topic":"Mote 4","base64":false,"x":150,"y":320,"wires":[["3d0fd818.4cd6c"]]},{"id":"c5ac558d.cf7f08","type":"tcp in","z":"ffceb231.4a0718","name":"Mote 5","server":"client","host":"","port":"60005","datamode":"stream","datatype":"utf8","newline":"\\n","topic":"Mote 5","base64":false,"x":150,"y":360,"wires":[["3d0fd818.4cd6c"]]},{"id":"86adabd3.e851a8","type":"function","z":"ffceb231.4a0718","name":"parser","func":"var mymsg = {};\nvar payload = msg.payload;\nvar temp = payload.split(\"to:\")[1];\nif(temp!==undefined){\n    mymsg[\"payload\"]={\"value1\": msg.topic, \"value2\": temp };\n    mymsg[\"event\"]=\"KeepYourDistance\";\n }\nreturn mymsg;","outputs":1,"noerr":0,"x":410,"y":360,"wires":[["b935bc9e.66157"]]},{"id":"51a175f1.b7edc4","type":"http request","z":"ffceb231.4a0718","name":"IFTT Req","method":"POST","ret":"txt","url":"https://maker.ifttt.com/trigger/{{event}}/with/key/plwqdikkX7U3GGPwRjaEahxo9ibAj0mqCd37xdA5vuo","tls":"","x":420,"y":440,"wires":[["d1d7eec5.ffa318"]]},{"id":"d1d7eec5.ffa318","type":"debug","z":"ffceb231.4a0718","name":"Request response","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":610,"y":440,"wires":[]},{"id":"b935bc9e.66157","type":"delay","z":"ffceb231.4a0718","name":"Rate limiter 1s","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":240,"y":440,"wires":[["51a175f1.b7edc4"]]},{"id":"3d0fd818.4cd6c","type":"switch","z":"ffceb231.4a0718","name":"Debug Filter","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"DEBUG","vt":"str"},{"t":"cont","v":"to:","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":390,"y":280,"wires":[["61fb5bd9.6ca95c"],["86adabd3.e851a8"]]},{"id":"61fb5bd9.6ca95c","type":"debug","z":"ffceb231.4a0718","name":"DEBUG SINK","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":380,"y":200,"wires":[]}]